[user]
	email = Chloe-H@users.noreply.github.com
	name = Chloe-H
[init]
	templatedir = ~/.git-templates
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = true
[alias]
	d = difftool
[push]
	default = nothing
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = false
[color]
